/* Macro class */
body {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

img {
  max-height: 100%;
}

[class*="col"] {
  padding: 10px;
  text-align: center;
}

[class*="col"]:last-child {
  border-right: none;
}

a > img {
  transition: ease-in-out 310ms;
}

a > img:hover {
  transform: scale(1.1);
}

/* Text style */
h1 {
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}

p {
  text-align: left;
}

.center-text {
  text-align: center;
  padding-top: 10px;
}

/* Header Class */
.mini-box {
  height: 100px;
  border-right: black solid 5px;
  border-bottom: black solid 5px;
}

.medium-box {
  height: 100px;
  border-right: black solid 5px;
  border-bottom: black solid 5px;
}

/* Monalisa Part */

.maxi-box {
  height: 600px;
  border-right: black solid 5px;
  border-bottom: black solid 5px;
}

.no-padding {
  padding: 0;
}

.text {
  position: relative;
  height: 50%;
}

.border {
  border-bottom: black solid 5px;
}

/* Minim-alistic section */
.mini-border {
  height: 5px;
  width: 50%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text-bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
}

.border-bottom{
  border-bottom: none;
}

/* JQUERY Modifications */


/* Tablet */

@media screen and (max-width: 991px) {

  /* Text style */
h1 {
  font-size: 48px;
}

h2 {
  font-size: 48px;
}

/* End Text styke */

  .none-1{
    display: none;
  }


  img{
    max-height: auto;
    max-width: 100%;
  }


}

/* Landscape */

@media screen and (max-width: 767px){

  .container{
    max-width: 400px;
  }

  .none-2{
    display: none;
  }

  .mini-box {
    height: 80px;
  }
  
  .medium-box {
    height: 80px;
  }

  .maxi-box {
    height: 400px;
  }
  
  .border-right-none{
    border-right: none;
  }

  .border-left{
    border-left:  black solid 5px;
  }

  .border-top{
    border-top:  black solid 5px;
  }

  /* Text style */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 36px;
}

p{
  font-size: 14px;
}

/* End Text styke */



}