/* Macro class */
body {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  img {
      height: 100%;
  }
  
  [class*="col"] {
      padding: 10px;
      text-align: center;
  }
  
  [class*="col"]:last-child {
      border-right: none;
  }
  
  
  a>img{
      transition: ease-in-out 310ms;
  }
  
  a>img:hover {
    transform: scale(1.1);
  }
  
  /* Text style */
  h1{
      font-weight: 900;
      font-size: 60px;
      text-transform: uppercase;
  }
  
  h2{
      font-weight: 700;
      font-size: 60px;
      text-transform: uppercase;
  }

  p{
      text-align: left;
  }

  .right{
      text-align: right;
      padding-top: 10px;
  }
  
  /* Header Class */
  .mini-box {
    height: 100px;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
  }
  
  .medium-box {
    height: 100px;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
  }
  
  /* Monalisa Part */
  
  .maxi-box{
      height: 600px;
      border-right: black solid 5px;
      border-bottom: black solid 5px;
  }
  
  .no-padding{
      padding: 0;
  }
  
  .text{
      position: relative;
      height: 50%;
  }
  
  .border{
      border-bottom: black solid 5px;
  }
  
  /* Minim-alistic section */
  .mini-border{
      height: 5px;
      width: 50%;
      background-color: black;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      
  }

  .text-bottom{
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  

  
  
  
 /* footer>.col-lg-2 {
    border-bottom: none;
    background-color: red;
}
   */